/* Write your CSS here */

.main-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: 'Lobster';
}

.language-bg {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 60px;
  margin-bottom: 30px;
}

.respo-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
