/* Write your CSS here */

.language-buttons {
  list-style-type: none;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
}

.active-button {
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  color: #0284c7;
  border-color: #0284c7;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
}

.button {
  background-color: transparent;
  border-width: 0px;
  font-weight: bold;
  cursor: pointer;
}
